@import '~tailwindcss/dist/base.css';
@import '~tailwindcss/dist/components.css';
@import '~tailwindcss/dist/utilities.css';

h1 {
  font-size: 24px;
  font-weight: 600;
}

h2 {
  font-size: 22px;
  font-weight: 600;
}

.main-container {
  margin-left: 250px;
}

.error-field {
  color: red;
  padding-top: 3px;
}
