.titre-7{
    font-size: 18px;
    font-family: 'Open Sans',sans-serif;
    font-weight: bolder;

}
.Annulation{
    margin: 0 11px ;
    font-family: 'Open Sans',sans-serif;
    font-size: 16px;
}
.cout{
    margin-left: 45px;
    font-family: 'Open Sans',sans-serif;
    font-size: 16px;
    font-weight: bold;
}
.conducteur{
    margin: 0 11px ;
    font-family: 'Open Sans',sans-serif;
    font-size: 16px;
}
.gratuit{
    margin-left: 76px;
    font-family: 'Open Sans',sans-serif;
    font-size: 16px;
    font-weight: bold;
}
.cout-1{
    margin-left: 75px;
    font-family: 'Open Sans',sans-serif;
    font-size: 16px;
    font-weight: bold;  
}
.cout-2{
    margin-left: 31px;
    font-family: 'Open Sans',sans-serif;
    font-size: 16px;
    font-weight: bold;
}
.contenue-1{
    line-height: 1.6;
}
.optionresult{
    margin-left: 238px;
    font-family: 'Open Sans',sans-serif;
    font-size: 16px;
    font-weight: bold;  
}
.avantage{
    width: 100%;
    height: auto;
    padding: 39px 0;
}
.avantage .option .liste{
    text-decoration: none;
    list-style-type: none;

}
.bouton{
    width: 100px;
    height: 50px;
    border: none;
    border-radius: 10px;
    background: #228dcb;
    color: white;
}
.louer{
    padding: 20px 20px;
}
.bi{
    border: 2px solid white;
    border-radius: 50% 50%;
    font-size: 20px;
}
.locationVoiture{
    text-decoration: none!important;
    background: #228dcb;
    padding: 10px;
    border-radius: 5px;
    color: white;
    font-weight: 900;
}
.locationDetail{
    text-decoration: none!important;
    background: #228dcb;
    padding: 5px;
    border-radius: 5px;
    color: white;
    font-weight: 900;
    padding: 8px 8px;
}
#bouttonReserve{
    font-size: 16px !important;
    text-transform: uppercase;
    color: white !important;
    background: #555;
    font-weight: 700 !important;
}
#bgColor{
    background: #228dcb !important;
}
#buttonDetail{
    background: #555 !important;
    color: white !important;
    text-transform: uppercase;
}
#bgDetail{
    background: #228dcb !important;
}
#padingReserver{
    padding: 20px 0 !important; 
}
.laststock{
    background: red;
    padding: 5px;
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-weight: 900;
    text-align: center;
    border-radius: 5px;
}
.montant-acompte{
position: absolute;
    font-size: 14px;
    font-weight: bold;
}

.confirm-tarif {
font-family: Helvetica,Arial,Tahoma,Sans-Serif;
font-weight: bold;
font-size: 37px;
color: #228dcb;
}